In [25]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

from numpy.random import randn

In [26]:
#for index hierarchy, we import two indees

ser = Series(randn(6), index = [[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [27]:
ser

1  a   -0.874340
   b   -0.108330
   c    0.936918
2  a    1.682901
   b   -0.168946
   c   -1.977996
dtype: float64

In [28]:
#check index levels

ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [29]:
#call first external index

ser[1]

a   -0.874340
b   -0.108330
c    0.936918
dtype: float64

In [30]:
#call everything associated with a

ser[:,'a']

1   -0.874340
2    1.682901
dtype: float64

In [32]:
dframe = ser.unstack()
dframe

          a         b         c
1 -0.874340 -0.108330  0.936918
2  1.682901 -0.168946 -1.977996

In [33]:
#muluiple index levels

dframe2 = DataFrame(np.arange(16).reshape(4,4), index = [['a','a','b','b'],[1,2,1,2]],
                   columns = [['NY','NY', 'LA', 'SF'],['cold','hot','hot','cold']])

dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [36]:
#add index & column names

dframe2.index.names = ['INDEX_1', 'INDEX_2']

dframe2.columns.names = ['Cities','Temp']

dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [37]:
#interchange levelof words in the data frame

#make tempetature outside index and cities inner

#say what indexes we want to swap, axis = 1 because we are swaping columns 

dframe2.swaplevel('Cities', 'Temp', axis = 1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [41]:
#sor levels

#which sub levelneed to be sorted is in the brackets
dframe2.sortlevel(1)

C:\Users\Paul\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: sortlevel is deprecated, use sort_index(level= ...)
  This is separate from the ipykernel package so we can avoid doing imports until

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [42]:
#perform operations on the particulal level

#complete sums on the temperature level and on the columns

dframe2.sum(level='Temp', axis = 1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27