In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [3]:
obj = Series([3,6,9,12])

obj

0     3
1     6
2     9
3    12
dtype: int64

In [ ]:
#values in series are indexed

In [4]:
#see only values
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [5]:
#see only index
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
#create series with an index

ww2_cas = Series([8700000,4300000,3000000,2100000,400000], index = ['USSR', 'Germany', 'China', 'Japan', 'USA'])

ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [7]:
#access value by index
ww2_cas['USA']

400000

In [8]:
# check which countries had cas greater than 4 mil

ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [9]:
'USSR' in ww2_cas

True

In [15]:
#put series into the dictionary
ww2_dict = ww2_cas.to_dict()

ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [11]:
#convert back into series

ww2_cas = Series(ww2_dict)

In [12]:
ww2_cas

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [18]:
#pass a dictionary in to the series, but index with an additional countries to match with a dictionary...

countries = ['China','Germany', 'Japan', 'USA', 'USSR', 'Argentina']

In [19]:
obj2 = Series(ww2_dict, index = countries)

obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [20]:
#check empty value
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [21]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [23]:
ww2_cas

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [24]:
#add objects to series and it will aligne data by index

obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [25]:
ww2_cas + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [26]:
obj2.name = 'World War 2 Casualties'

In [27]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

In [28]:
#set index column name
obj2.index.name = 'Countries'

In [29]:
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64