In [1]:
import numpy as np

from pandas import Series, DataFram

import pandas as pd

ImportError: cannot import name DataFram

In [2]:
#create a serie
ser1 = Series(range(3), index = ['C','A','B'])

ser1

C    0
A    1
B    2
dtype: int64

In [4]:
#sort series by index
ser1.sort_index()

A    1
B    2
C    0
dtype: int64

In [9]:
#sort series by its values
ser1.sort_values()

C    0
A    1
B    2
dtype: int64

In [10]:
#rankink

from numpy.random import randn

In [11]:
ser2 = Series(randn(10))

ser2

0    0.033340
1   -0.403080
2    0.455222
3    1.972201
4   -1.330109
5    0.265456
6    0.893567
7    1.151630
8    1.887916
9    0.486742
dtype: float64

In [22]:
#sort and see how they rank
#FROM LOWEST to highest 

ser2 = ser2.sort_values()

In [24]:
#know the rank

ser2.rank()

4     1.0
1     2.0
0     3.0
5     4.0
2     5.0
9     6.0
6     7.0
7     8.0
8     9.0
3    10.0
dtype: float64

In [25]:
ser3 = Series(randn(10))

In [26]:
ser3.rank()

0     5.0
1     3.0
2     1.0
3    10.0
4     6.0
5     7.0
6     2.0
7     8.0
8     9.0
9     4.0
dtype: float64

In [28]:
ser3.sort_values()
ser3.rank()

0     5.0
1     3.0
2     1.0
3    10.0
4     6.0
5     7.0
6     2.0
7     8.0
8     9.0
9     4.0
dtype: float64