In [1]:
import pandas as pd

In [2]:
#pip install xlrd
# pip install openpyxl

In [6]:
import os
os.chdir('D:\\DBS\\5.Programming_for_big_data\\github\\Python_for_data_Analysis_and_Visualization')

xlsfile = pd.ExcelFile('Lecture28.xlsx')

In [7]:
dframe = xlsfile.parse('Sheet1')
dframe

   This is a test  Unnamed: 1  Unnamed: 2
0              23        6678         456
1             234         678         456
2             234           7         345
3              34          56         234
4               5         456        4365

In [ ]:
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_excel.html