In [1]:
import numpy as np

import pandas as pd

from pandas import Series,DataFrame

In [4]:
import os
os.chdir('D://DBS//Udemy//1.Learning_python')

#import file

dframe = pd.read_csv('lec25.csv')

In [5]:
dframe

#uses first row as a column name

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [9]:
#do not set up first row as a column name

dframe = pd.read_csv('lec25.csv', header = None)

dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [11]:
#using re table version for CSV import

#need to show separator 

dframe = pd.read_table('lec25.csv', sep = ',', header = None)

dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [13]:
#indicate aprticualr numebr of roads to be readed

#read only forst two rows nrows = 2

pd.read_csv('lec25.csv', header = None, nrows = 2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [14]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [16]:
#export data frame

import os
os.chdir('D://DBS//Udemy//1.Learning_python')


dframe.to_csv('mytextdata_out.csv')

In [17]:
#use other delimiters

#to see output directly without saving

import sys

In [18]:
#std out shows output

dframe.to_csv(sys.stdout,)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [19]:
#use _ as sep

dframe.to_csv(sys.stdout, sep='_')

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit
3_5_2_5_7_dog

In [21]:
dframe.to_csv(sys.stdout, sep = '?')

?0?1?2?3?4
0?q?r?s?t?apple
1?2?3?4?5?pear
2?a?s?d?f?rabbit
3?5?2?5?7?dog

In [22]:
#write specifil number of columns

dframe.to_csv(sys.stdout, columns = [0,1,2])

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5

In [23]:
url = 'https://docs.python.org/2/library/csv.html'